.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Para ocupar a altura total da viewport */
    padding-bottom: 10px; /* Espaço extra para evitar sobreposição do teclado */
}
.logo {
    margin-left: -3%;
    margin-top: 30%;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.circle-background {
    margin-bottom: 20%;
    width: 40%;
    height: 18%;
    aspect-ratio: 1 / 1; /* Mantém a proporção 1:1 */
    flex-shrink: 0;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px rgba(0, 255, 255, 0.2); 
}

.cadastro-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ion-item {
    margin-top: 3%;
    border-radius: 10px;
    border: 0px solid #0088A6;
    --background: none;
    background: rgba(255, 255, 255, 0.23);   
    width: 100%; 
    max-width: 80%; 
}

ion-label{
    width: 20%;
}

ion-input {
    width: 100%; 
    height: 10%;
    flex-shrink: 1;
}

.custom-icon {
    width: 10%;
    height: 10%;
    flex-shrink: 0;
    margin-top: 8%;
  }
.buttonE{
    --background:none;
    width: 50%;
    height: 5%;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0BB9CD;
}
@media (max-height: 600px) {
    .circle-background {
        width: 30%; /* Reduz a largura da logo */
        height: 15%; /* Reduz a altura da logo */
        transform: scale(0.85); /* Reduz ainda mais quando necessário */
    }

    .content {
        padding-top: 5%; /* Espaço extra no topo para evitar sobreposição */
    }
}