<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="header">
        <div class="svg-container">
          <img src="assets/icon/logoHeader.png" class="logo-image" />
          <svg xmlns="http://www.w3.org/2000/svg" width="102" height="36" viewBox="0 0 102 36" fill="none">
            <path d="M0.5 35.5H101.5V0.5H0.5V35.5Z" fill="#001D20" stroke="#0E393E"/>
          </svg>
          
        </div>
      </div>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="calendar-clear-outline" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="inicio">
        <div class="container">
          <ion-item>
          <ion-label class="container-idadetext" position="floating">IDADE:</ion-label>
          <ion-input class="container-idadeinput" type="text">.</ion-input>
          </ion-item>
      </div>  
  </ion-content>  
</ion-app>




