<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-img src="/assets/icon/Logo.png" alt="Logo" style="width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto;"></ion-img>

    <ion-item>
      <ion-icon slot="start" name="person" size="small"></ion-icon>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed" size="small"></ion-icon>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" [routerLink]="['/tabs']">Login</ion-button>

    <ion-button expand="full" color="light" [routerLink]="['/forgot-password']" fill="clear"  size="small">Esqueceu a senha?</ion-button>
  </div>
</ion-content>