.content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.logo {
    width: 200px; 
    height: auto;
    margin-bottom: 10px; 
}

.login-container {

    display: flex;
    flex-direction: column; 
    align-items: center; 
}

ion-item {
    margin-top: 10px;
    border-radius: 5%; 
    border: 2px solid #0088A6;
    --background: none;
    background: rgba(255, 255, 255, 0.23);
    width: 100%; /* Adicione essa linha para garantir que ocupe toda a largura da coluna */
    max-width: 300px; 
}

ion-input {
    width: 100%; /* Adapte a largura do input para ocupar 100% do ion-item */
    height: 20px;
    flex-shrink: 1;
}

