ion-tab-bar {
  background-color: #1E1E1E; /* Cor do fundo das abas */
  border-top: 1px solid #1E1E1E; /* Linha de separação */
}

ion-tab-button {
  color: #555; /* Cor padrão */
}

ion-tab-button[aria-selected="true"] {
  color: #24A6A6; 
}
