ion-tab-bar {
  background-color: #f8f8f8; /* Cor do fundo das abas */
  border-top: 1px solid #e0e0e0; /* Linha de separação */
}

ion-tab-button {
  color: #555; /* Cor padrão */
}

ion-tab-button[aria-selected="true"] {
  color: #24A6A6; /* Cor ao selecionar a aba */
}